.section-6{
  background-color: transparent;
  background-image: linear-gradient(180deg, #020f33 65%, #fefeff 35%);
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.3rem 1rem 1.3rem;
  width: 100%;
}

.section-6-container-1{
  width: 100%;
  h1{
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.section-6-container-2,
.section-6-container-3,
.section-6-container-4{
  width: 100%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
  padding: 1.5rem 1.5rem;
  transition: all linear 0.3s;
    &:hover{
      margin-top: 0;
    }
}
 
 .icon-circle{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    color: #102a43;
  }
}

.section-6-container-2{
  border-top: 2px #ffc700 solid;
}

.section-6-container-3{
  border-top: 2px #00d9ff solid;
}

.section-6-container-4{
  border-top: 2px #ff5600  solid;
}

#yellow-circle-icon{
  background-color: #ffc700;
}
 #blue-circle-icon{
  background-color: #00d9ff;
 }

 #dark-yellow-circle-icon{
  background-color: #ff5600;
 }

.section-6-h3{
  color: #102a43;
  font-size: 1.1rem;
  font-weight: 500;
}



/* Extra small devices (phones, 600px and down to 421px) */
@media only screen and (min-width: 421px) and (max-width: 600px) {

}


/* Small devices (portrait tablets and large phones, 600px and up to 768px) */
@media only screen and (min-width: 601px){
  
}


/* Medium devices (landscape tablets, 768px and up 992px) */
@media only screen and (min-width: 768px){
  .section-6{
    padding: 2rem 4rem 0 4rem;
  }

  .section-6-flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-6-container-2,
  .section-6-container-3,
  .section-6-container-4{
    width: fit-content;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
    padding: 2rem 0 1.5rem 2.8rem;
  }

  .section-6-h1{
    margin-top: 100px !important;
    margin-bottom: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 65% !important;
    font-size: 3.4rem !important;
  }

  .section-6-h3{
    font-size: 1.25rem;
    width: 85%;
  }

  .section-6-paragraph{
    width: 90%;
    font-size: 17px !important;
  }

}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .section-6{
  background-color: transparent;
  background-image: linear-gradient(180deg, #020f33 65%, #fefeff 35%);
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;
}

.section-6-container-1{
  width: 95%;
  h1{
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
  }
}

.section-6-container-2,
.section-6-container-3,
.section-6-container-4{
  width: 95%;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
  padding: 1.5rem 1.5rem;
}
 
 .icon-circle{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    color: #102a43;
  }
}

.section-6-container-2{
  border-top: 2px #ffc700 solid;
}

.section-6-container-3{
  border-top: 2px #00d9ff solid;
}

.section-6-container-4{
  border-top: 2px #ff5600  solid;
}

#yellow-circle-icon{
  background-color: #ffc700;
}
 #blue-circle-icon{
  background-color: #00d9ff;
 }

 #dark-yellow-circle-icon{
  background-color: #ff5600;
 }

.section-6-h3{
  color: #102a43;
  font-size: 1rem;
  font-weight: 600;
}
} */



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}