.section-8{
  background-color: #fffdfa;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.3rem 0 1.3rem;
  width: 100%;
}

.section-8-container-1{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  h1{
    color: #102a43;
  font-size: 1.8rem;
  font-weight: 600;
  }
  p{
    color: #486581;
    font-size: 17px;
  }
}

.section-8-container-2{
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  img{
    width: 8rem;
    height: 2.8rem;
    border-radius: 8px;
    transition: all linear 0.3s;
    &:hover{
      width: 11rem;
      height: 3.5rem;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
}

.section-8-container-3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background: white url(/assets/images/Mobile-App-Hero-BG-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  img{
    width: 100%;
    height: 100%;
  }
}



/* Extra small devices (phones, 600px and down to 421px) */
 @media only screen and (min-width: 421px) and (max-width: 600px) {

}


/* Small devices (portrait tablets and large phones, 600px and up 768px) */
@media only screen and (min-width: 601px){
    .section-8-container-3{
  img{
      width: 72%;
      height: 72%;
    }
  }
}


/* Medium devices (landscape tablets, 768px and up 992px) */
@media only screen and (min-width: 769px){
  .section-8{
    padding: 10rem 2.5rem 8rem 2.5rem;
    flex-direction: row-reverse;
  }

  .section-8-container-2{
    justify-content: left;
  }

  .section-8-container-3{
    img{
      width: 92%;
      height: 98%;
    }
  }

  .section-8-h1{
    margin-bottom: 10px !important;
    width: 95% !important;
    font-size: 2.3rem !important;
  }

  .section-8-paragraph{
    width: 95%;
    font-size: 18px !important;
  }


}



/* Large devices (laptops/desktops, 993px and up to 1199px) */
@media only screen and (min-width: 993px){
  .section-8{
    padding: 10rem 3rem 8rem 3rem;
  }

  .section-8-h1{
    font-size: 3.3rem !important;
  }

  .section-8-container-2{
    img{
      margin-top: 20px;
      width: 156px;
      height: 48px;
      border-radius: 6px;
        }
  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
  .section-8{
    padding: 10rem 4rem 8rem 4rem;
    flex-direction: row-reverse;
  }

  .section-8-container-2{
    justify-content: left;
  }

  .section-8-container-3{
    img{
      width: 92%;
      height: 98%;
    }
  }

  .section-8-h1{
    margin-bottom: 10px !important;
    width: 95% !important;
    font-size: 3.3rem !important;
  }

  .section-8-paragraph{
    width: 95%;
    font-size: 18px !important;
  }

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .section-8{
  background-color: #fffdfa;
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem;
}

.section-8-container-1{
  width: 95%;
  padding-left: 1rem;
  h1{
    color: #102a43;
  font-size: 1.65rem;
  font-weight: 600;
  }
  p{
    color: #486581;
    font-size: 16px;
  }
}

.section-8-container-2{
  width: 95%;
  margin-top: 30px;
  display: flex;
  gap: 20px;
  img{
    width: 8rem;
    border-radius: 6px;
  }
}

.section-8-container-3{

  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background: white url(/assets/images/Mobile-App-Hero-BG-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  img{
    width: 500px;
    height: 412px;
  }
}
} */




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}