/* .section-3, .section-4{
  background-color: #fff;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
} */


.non-hero-section-ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 0;
}

.non-hero-section-ul li{
  padding: 0;
  color: #102a43;
  font-size: 1rem;
  font-weight: 600;
  list-style-type: none;
}

.check-circle{
  padding-left: 6px;
  padding-right: 10px;
  padding-top: 3px;
  border-radius: 50%;
  background-color: #f2f5fa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  margin-right: 5px;
  i{
    font-weight: bold;
    color: #41beff;
  }
}

.section-3-container-2{
  background: url(/assets/images/Mobile-App-Connections-BG.webp);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: right;

  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}


/*style bouncing phone icon*/
#bouncing-phone-icon{
  background-color: #ffc700;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    color: #fff;
    rotate: 45deg;
  }
}

.section-3-container-2-sub-container-2{
  position: absolute;
  top: 2155px;
  left: 25px;
  z-index: 1;
}


/*style  image*/
.section-3-container-2-sub-container-2 > img{
  width: 210px;
  height: 135px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
}

/*styling image*/
.section-3-container-2-sub-container-3 > img{
  margin-left: 115px;
  width: 180px;
  height: 340px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 421px) and (max-width: 600px) {
  .section-3-container-2{
    background-size: contain;
    background-position: center;
  }

  .section-3-container-2-sub-container-2{
  position: absolute;
  top: 2210px;
  left: 30px;
  z-index: 1;
}

.section-3-container-2-sub-container-2 > img{
  width: 283px;
  height: 180px;
}

.section-3-container-2-sub-container-3 > img{
  width: 253px;
  height: 485px;
  margin-left: 150px;
}

  
}



/* PC devices (992px and above) */
@media only screen and (min-width: 601px){
  .section-3{
    flex-direction: row-reverse;
    gap: 100px;
    padding: 2rem 4rem 0 4rem
  }

.section-3-h1{
  width: 90%;
  font-size: 3.21rem;
  span{
    font-size: 3.41rem;
  }
}

.section-3-paragraph{
  width: 90%;
  font-size: 17px;
  margin-bottom: 40px;
}

.non-hero-section-ul li{
  font-size: 1.12rem;
  font-weight: 600;
}

.check-circle{
  padding-left: 9px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom: 3px;
}

#bouncing-phone-icon{
  background-color: #ffc700;
  width: 65px;
  height: 65px;
}

.section-3-container-2{
  background-size: contain;
}

.section-3-container-2-sub-container-1{
  display: flex;
  justify-content: center;
}

.section-3-container-2-sub-container-2{
  position: absolute;
  top: 2040px;
  left: 70px;
  z-index: 1;
}

.section-3-container-2-sub-container-2 > img{
  width: 330px;
  height: 200px;
}

.section-3-container-2-sub-container-3 > img{
  width: 255px;
  height: 475px;
  margin-left: 150px;
}

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}