.section-8{
  background-color: #fffdfa;
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem;
}

.section-8-container-1{
  width: 95%;
  padding-left: 1rem;
  h1{
    color: #102a43;
  font-size: 1.65rem;
  font-weight: 600;
  }
  p{
    color: #486581;
    font-size: 16px;
  }
}

.section-8-container-2{
  width: 95%;
  margin-top: 30px;
  display: flex;
  gap: 20px;
  img{
    width: 8rem;
    border-radius: 6px;
  }
}

.section-8-container-3{

  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background: white url(/assets/images/Mobile-App-Hero-BG-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  img{
    width: 500px;
    height: 412px;
  }
}




/* Mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
  /* Your CSS rules for mobile devices */
}

/* Tablet devices (768px to 991px) */
@media only screen and (min-width: 600px) {
  /* Your CSS rules for tablet devices */
}

/* PC devices (992px and above) */
@media only screen and (min-width: 600px) {
  .section-8{
    padding: 10rem 4rem 8rem 4rem;
    flex-direction: row-reverse;
  }

  .section-8-h1{
    margin-bottom: 10px !important;
    width: 95% !important;
    font-size: 3.3rem !important;
  }

  .section-8-paragraph{
    width: 95%;
    font-size: 18px !important;
  }

}



/* PC devices (992px and above) */
@media only screen and (min-width: 768px) {
}