.section-4-container-2{
   background: url(/assets/images/Mobile-App-High-Quality-BG.webp);
  background-repeat:no-repeat;
  background-size: contain;
  background-position: right;

  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 2rem;
  padding-right: 2rem;
}

.section-4-container-2-sub-container-1{
  position: absolute;
  top: 2823px;
  left: 25px;
  z-index: 1;
}

.section-4-container-2-sub-container-1 > img{
  width: 190px;
  height: 205px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
}

.section-4-container-2-sub-container-2{
  margin-left: 173px;
}

.section-4-container-2-sub-container-2 > img{
  width: 190px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 421px) and (max-width: 600px) {
  .section-4-container-2{
    background-size: 500px 375px;
    background-position: center;
  }

  .section-4-container-2-sub-container-1{
  position: absolute;
  top: 3035px;
  left: 40px;
  z-index: 1;
}

  .section-4-container-2-sub-container-1 > img{
    width: 260px;
    height: 285px;
  }

  .section-4-container-2-sub-container-2 > img{
    margin-left: 70px;
    width: 250px;
    height: 470px;
  }

}



/* PC devices (992px and above) */
@media only screen and (min-width: 601px){
  .section-4{
    flex-direction: row;
    padding: 2rem 4rem 0 4rem
  }

  .section-4-h1{
  width: 85%;
  font-size: 3.21rem;
  span{
    font-size: 3.41rem;
  }
}

.section-4-paragraph{
  width: 75%;
  font-size: 17px;
  margin-bottom: 40px;
}

.section-4-container-2-sub-container-1{
  position: absolute;
  top: 2530px;
  left: 660px;
  z-index: 1;
}

.section-4-container-2-sub-container-1 > img{
  width: 300px;
  height: 315px;
}

.section-4-container-2-sub-container-2 > img{
  width: 245px;
  height: 455px;
}


}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .section-4-container-2{
   background: url(/assets/images/Mobile-App-High-Quality-BG.webp);
  background-repeat:no-repeat;
  background-size: 560px 520px;
  background-position: right;

  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 2rem;
  padding-right: 2rem;
}

.section-4-container-2-sub-container-1{
  position: absolute;
  top: 2908px;
  left: 40px;
  z-index: 1;
}

.section-4-container-2-sub-container-1 > img{
  width: 300px;
  height: 320px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
}

.section-4-container-2-sub-container-2{
  margin-right: 0;
  margin-left: 250px;
}

.section-4-container-2-sub-container-2 > img{
  width: 269px;
  height: 516px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
}
} */



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}