.section-2, .section-3, .section-4{
  background-color: #fff;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.3rem 0 1.3rem;
  width: 100%;
}

.section-2-div-1{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  margin-bottom: 1.5rem;
}

.non-hero-section-h1{
  color: #102a43;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0;
  span{
    font-size: 1.75rem;
    color: #41beff;
    font-weight: 800;
  }
}

.non-hero-section-paragraph{
  color: #486581;
  font-size: 15px;
  margin-bottom: 30px;
}

.section-2-div-1 button{
  border: none;
  background-color: #41beff;
  color: #fff;
  width: fit-content;
  font-size: 16px;
  font-weight: 550;
  padding: 1rem 2rem;
  border-radius: 50px;
  &:hover{
    background-color: #06A0F1;
  }
}

.section-2-div-2{
  background: url(/assets/images/Mobile-App-Revolutionize-BG.webp);
  background-repeat:no-repeat;
  background-size: contain;
  background-position: right;

  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 1.8rem;
}

.section-2-div-2-sub-container{
  width: auto;
}

.section-2-div-2-child-1{
  width: auto;
  position: absolute;
  top: 1300px;
  right: 210px;
  z-index: 1;
}

.section-2-div-2-child-1 > img{
  padding-left: 0.5rem;
  width: 200px;
  height: 85px;
}

.section-2-div-2-child-2{
  width: auto;
  position: absolute;
  top: 1475px;
  left: 127px;
  z-index: 1;
}

.section-2-div-2-child-2 > img{
  border-radius: 50px;
  width: 250px;
  height: 44px;
  box-shadow: 0px 20px 40px 0px rgba(63.99, 71.99, 81.99, 0.1);
}

.section-2-div-2-child-3 {
    img{
      margin-left: 95px;
      width: 200px;
      height: 230px;
      box-shadow: 0px 20px 40px 0px rgba(63.99, 71.99, 81.99, 0.1);
      border-radius: 10px;
  }
}


/* Extra small devices (phones, 600px and down to 421px) */
@media only screen and (min-width: 421px) and (max-width: 600px) {
  .section-2-div-2-child-1{
  top: 1295px;
  left: 0;
  
}
  
  .section-2-div-2-child-1 > img{
  padding-left: 0.5rem;
  width: 270px;
  height: 118px;
}

.section-2-div-2-child-2{
  top: 1525px;
  left: 135px;
}

.section-2-div-2-child-2 > img{
  width: 270px;
  height: 47px;
}

.section-2-div-2-child-3 {
    img{
      margin-left: 100px;
      margin-right: 0;
      width: 250px;
      height: 330px;
      border-radius: 20px;
  }
}

}


/* Small devices (portrait tablets and large phones, 601px and up to 768px) */
@media only screen and (min-width: 601px){
  .section-2-div-2-child-1{
  top: 1210px;
  left: 15px;
  
}
  
  .section-2-div-2-child-1 > img{
  padding-left: 0.5rem;
  width: 320px;
  height: 150px;
}

.section-2-div-2-child-2{
  top: 1520px;
  left: 210px;
}

.section-2-div-2-child-2 > img{
  width: 360px;
  height: 64px;
}

.section-2-div-2-child-3 {
    img{
      margin-left: 170px;
      margin-right: 0;
      width: 330px;
      height: 410px;
      border-radius: 20px;
  }
}
  
}


/* Medium devices (landscape tablets, 769px and up to 992px) */
@media only screen and (min-width: 769px){
  .section-2{
    flex-direction: row;
    padding: 2rem 2.5rem 0 2.5rem
  }

  .section-2-h1{
  font-size: 2.1rem;
  font-weight: 700;
  span{
    font-size: 2.1rem;
    font-weight: 800;
  }
}

.section-2-paragraph{
  width: 95%;
  font-size: 15px;
  margin-bottom: 40px;
}

.section-2-div-2{
  background-size: contain;
  background-position: right;
}

.section-2-div-2-child-1{
  top: 1150px;
  left: 410px;
  right: 0;
}

.section-2-div-2-child-1 > img{
  padding-left: 0.5rem;
  width: 250px;
  height: 100px;
}

.section-2-div-2-child-2{
  top: 1400px;
  left: 500px;
}

.section-2-div-2-child-2 > img{
  width: 250px;
  height: 45px;
}

.section-2-div-2-child-3 {
    img{
      margin-left: 50px;
      margin-right: 0;
      width: 265px;
      height: 350px;
      border-radius: 20px;
  }
}

}


/* Large devices (laptops/desktops, 993px and up to 1199px) */
@media only screen and (min-width: 993px) {

  .section-2{
    /* flex-direction: row; */
    padding: 2rem 3rem 0 3rem
  }

.section-2-h1{
  width: 85%;
  font-size: 3.21rem;
  span{
    font-size: 3.41rem;
  }
}

.section-2-paragraph{
  width: 85%;
  font-size: 16px;
  margin-bottom: 40px;
}

.section-2-div-2-child-1{
  top: 1395px;
  left: 540px;
  right: 0;
}

.section-2-div-2-child-1 > img{
  padding-left: 0.5rem;
  width: 270px;
  height: 125px;
}

.section-2-div-2-child-2{
  top: 1665px;
  left: 670px;
}

.section-2-div-2-child-2 > img{
  width: 320px;
  height: 58px;
}

.section-2-div-2-child-3 {
    img{
      margin-left: 60px;
      margin-right: 0;
      width: 300px;
      height: 360px;
      border-radius: 20px;
  }
}
  


}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .section-2{
    flex-direction: row;
    padding: 2rem 4rem 0 4rem
  }

.section-2-h1{
  width: 85%;
  font-size: 3.21rem;
  span{
    font-size: 3.41rem;
  }
}

.section-2-paragraph{
  width: 75%;
  font-size: 17px;
  margin-bottom: 40px;
}

/* .section-2-div-2{
  background: url(/assets/images/Mobile-App-Revolutionize-BG.webp);
  background-repeat:no-repeat;
  background-size: contain;
  background-position: right;
} */

.section-2-div-2-child-1{
  top: 1355px;
  left: 707px;
  right: 0;
}

.section-2-div-2-child-1 > img{
  padding-left: 0.5rem;
  width: 290px;
  height: 135px;
}

.section-2-div-2-child-2{
  top: 1625px;
  left: 895px;
}

.section-2-div-2-child-2 > img{
  width: 370px;
  height: 65px;
}

.section-2-div-2-child-3 {
    img{
      margin-left: 200px;
      margin-right: 0;
      width: 315px;
      height: 375px;
      border-radius: 20px;
  }
}
  
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .section-2, .section-3, .section-4{
  background-color: #fff;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
}

.section-2-div-1{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  margin-bottom: 1.5rem;
}

.non-hero-section-h1{
  color: #102a43;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0;
  span{
    font-size: 1.8rem;
    color: #41beff;
    font-weight: 800;
  }
}

.non-hero-section-paragraph{
  color: #486581;
  font-size: 15px;
}

.section-2-div-1 button{
  border: none;
  background-color: #41beff;
  color: #fff;
  width: fit-content;
  font-size: 16px;
  font-weight: 550;
  padding: 1rem 2rem;
  border-radius: 50px;
  &:hover{
    background-color: #06A0F1;
  }
}

.section-2-div-2{
  background: url(/assets/images/Mobile-App-Revolutionize-BG.webp);
  background-repeat:no-repeat;
  background-size: 450px 450px;
  background-position: right;

  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 1.8rem;
}

.section-2-div-2-child-1{
  position: absolute;
  top: 1200px;
  right: 335px;
  z-index: 1;
}
.section-2-div-2-child-2{
  position: absolute;
  top: 1476px;
  left: 210px;
  z-index: 1;
}

.section-2-div-2-child-1 > img{
  width: 295px;
  height: 138px;
}

.section-2-div-2-child-2 > img{
  border-radius: 50px;
  width: 400px;
  height: 70px;
  box-shadow: 0px 20px 40px 0px rgba(63.99, 71.99, 81.99, 0.1);
}

.section-2-div-2-child-3 > img{
  width: 310px;
  height: 349px;
  box-shadow: 0px 20px 40px 0px rgba(63.99, 71.99, 81.99, 0.1);
  border-radius: 10px;
}
} */



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}