.section-7{
  background-color: #fffdfa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.3rem 0 1.3rem;
  width: 100%;
}

.section-7-container-1{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.section-7-container-2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: rgb(214, 214, 214) 1px solid;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
  padding: 1.5rem 1.5rem;
}

.hidden{
  display: none;
}

.section-7-container-2-sub-container-1 > img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.section-7-container-2-sub-container-2 > h4{
  color: #102a43;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 0;
}

.section-7-container-2-sub-container-2 > p{
  color: #102a43;
  font-size: 0.9rem;
  margin-top: 0;
}



/* Extra small devices (phones, 600px and down to 421px) */
@media only screen and (min-width: 421px) and (max-width: 600px) {

}


/* Small devices (portrait tablets and large phones, 600px and up to 768px) */
@media only screen and (min-width: 601px){
  
}

/* Medium devices (landscape tablets, 768px and up 992px) */
@media only screen and (min-width: 769px){
    .section-7{
    padding: 2rem 2.5rem 0 2.5rem;
  }

  .section-7-h1{
    margin-top: 100px !important;
    margin-bottom: 10px !important;
    width: 50% !important;
    font-size: 2.3rem !important;
  }

  .testimonal-wrapper{
    display: flex;
    gap: 30px;
  }

  .hidden{
    display: initial;
  }

}


/* Large devices (laptops/desktops, 993px and up to 1199px) */
@media only screen and (min-width: 993px) {
  .section-7{
    padding: 2rem 3rem 0 3rem;
  }

  .section-7-h1{
    width: 50% !important;
    font-size: 3.3rem !important;
  }
  

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
  .section-7{
    padding: 2rem 4rem 0 4rem;
  }

  .section-7-h1{
    margin-top: 100px !important;
    margin-bottom: 10px !important;
    width: 50% !important;
    font-size: 3.3rem !important;
  }

  .testimonal-wrapper{
    display: flex;
    gap: 30px;
  }

  .hidden{
  display: initial;
}

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .section-7{
  background-color: #fffdfa;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem 0 2rem;
}

.section-7-container-1{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.section-7-container-2{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: rgb(214, 214, 214) 1px solid;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(28, 22, 2, 0.23);
  padding: 1.5rem 1.5rem;
}

.hidden{
  display: none;
}

.section-7-container-2-sub-container-1 > img{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.section-7-container-2-sub-container-2 > h4{
  color: #102a43;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 0;
}

.section-7-container-2-sub-container-2 > p{
  color: #102a43;
  font-size: 0.8rem;
  margin-top: 0;
}
} */




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}