/* Extra small devices (phones, 600px and down) */
*{
  box-sizing: border-box;
}


body{
  font-family: 'Poppins';
  background-color: #f0f8ff;
  margin: unset;
  width: 100%;
}


nav{
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 2.1rem;
  align-items: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav img{
  width: 100px;
  height: 28px;
}

nav ul, nav div{
  display: none;
}

a{
  text-decoration: none;
  font-weight: 550;
  color: #102a43;
  &:hover{
    color: #41beff;
  }
}

nav div button:first-child{
  border: none;
  background-color: white;
  color: #102a43;
  font-size: 16px;
  font-weight: 550;
  &:hover{
    color: #41beff;
  }
}

nav div button:nth-child(2){
  border: none;
  color: #102a43;
  font-size: 16px;
  font-weight: 550;
  padding: 1rem 2rem;
  border-radius: 50px;
  &:hover{
    background-color: #06A0F1;
    color:#fff;
  }
}

nav h1:hover{
  cursor: pointer;
}

.hero-section{
  width: 100%;
  margin-top: 2rem;
  margin-bottom: -15px;
  background-image: linear-gradient(180deg, #f0f8ff, #fff, #fff);
}

#hero-bg{
  background: url(/assets/images/Mobile-App-Hero-BG.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#hero-bg2{
  background: white url(/assets/images/Mobile-App-Hero-BG-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
   img{
      width: 100%;
      height: 100%;
      margin: auto;
  }
}

.hero-section-div{
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

/* .hero-section-div:first-child{
  margin: auto;
  width: 100%;
} */

#p-element-1{
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 2px;
  background-color: #e0f2f8;
  padding: 0.25rem 0.3rem 0.25rem 0.2rem;
  border-radius: 50px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#arrow-pointing-right{
  width: 12px;
  vertical-align: middle;
}

#para-span{
  background-color: #06A0F1;
  color:#fff;
  padding: 0 0.23rem;
  border-radius: 50px;
  font-size: 12px;
}

p > span.color-skyblue{
  font-size: 12px;
  font-weight: 500;
}

.hero-section-div h1{
  text-align: center;
  color: #102a43;
  font-size: 2.55rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  span{
    font-size: 2.65rem;
    font-weight: 900;
  }
}

.hero-section-div p{
  text-align: center;
  color: #486581;
  font-size: 16px;
}

.color-skyblue{
  color: #41beff;
}

#store-logo-container{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.store-logo{
    width: 8rem;
    height: 2.8rem;
    border-radius: 8px;
    transition: all linear 0.3s;
    &:hover{
      width: 11rem;
      height: 3.5rem;
      margin-top: 0;
      margin-bottom: 30px;
    }
}





/* Extra small devices (phones, 600px and down to 421px) */
@media only screen and (min-width: 421px) and (max-width: 600px) {
  .hero-section-div h1{
  
  font-size: 2.3rem;
  font-weight: 800;
  span{
    font-size: 2.65rem;
    font-weight: 900;
    }
  }
}


/* Small devices (portrait tablets and large phones, 600px and up to 768px) */
@media only screen and (min-width: 601px){
  .hero-section-div h1{
    width: 90%;
  }

  .hero-section-div p{
    width: 90%;
  }

  #hero-bg2{
   img{
      width: 72%;
      height: 72%;
      
    }
  }
}


/* Medium devices (landscape tablets, 768px and up 992px) */
@media only screen and (min-width: 769px){

.hero-section-div h1{
    width: 85%;
    font-size: 3.5rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    span{
      font-size: 3.65rem;
      font-weight: 800;
    }
  }

  .hero-section-div p{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    font-size: 18px;
  }


}



/* Large devices (laptops/desktops, 993px and up to 1199px) */
@media only screen and (min-width: 993px) {
  .hero-section-div h1{
    width: 85%;
    font-size: 3.5rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    span{
      font-size: 3.65rem;
      font-weight: 800;
    }
  }

  .hero-section-div p{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    font-size: 18px;
  }


}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
  nav{
    padding: 0.7rem 4.5rem;
  }

  nav ul, nav div{
  display: inherit;
}

nav ul{
  gap: 30px;
}

nav div{
  gap: 10px;
}

nav h1{
  display: none;
}

#hero-bg2{
  width: 100%;
  background-size: contain;
   img{
      width: 59%;
      height: 59%;
  }
}

#p-element-1{
  padding: 0.3rem 0.2rem 0.3rem 0.2rem;
}

p > span.color-skyblue{
  font-size: 15px;
}

#para-span{
  padding: 0.17rem 0.9rem;
  font-size: 14px;
}

.hero-section-div h1{
  width: 75%;
  font-size: 4.3rem;
  margin-left: auto;
  margin-right: auto;
  span{
    font-size: 4.5rem;
  }
}

.hero-section-div p{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.store-logo{
  margin-top: 20px;
  width: 156px;
  height: 48px;
  border-radius: 6px;
}

}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
